.modal {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 10;
    left: 10;    
    background: rgba(0,0,0, .82);
    width: 100%;
    height: 100%;
}

.winner {
	font-size: 40px;
	color: white;

}

.close {
	font-size: 40px;
	color: #D3D3D3;
	outline-style: solid;
	border: 1px solid white;
	width: 270px;
	margin: 0 auto;
}

body {
	text-align: center;
}

.aboveBoard {
	margin: 0 auto;
}

.mainboard {
	width: 650px;
    height: 650px;
    margin: 0 auto;
}

h2 {
	font-family: courier;
}

h2#box1, h2#box2 {
	background-color: black;
	color: white;
}

}

#submit {

	font-size: 15px;
	border-radius: 5px;
}

#timeDisplay {
	width: 150px;
	height: 40px;
	background-color: black;
	color: white;
	margin: 0 150px 5px 20px;
	font-size: 30px;
	border: 1px solid black;
}

.wrapper {
	display: inline-block;
	margin: 0 auto;
}

#newGame {
	margin: 0 20px 5px 0px;
	font-size: 25px;
	border-radius: 5px;
}

#startRound {
	margin: 0 20px 5px 20px;
	font-size: 30px;
	color: white;
	border-radius: 5px;
	background-color: green;
	font-size: 25px;
}

.scoreBoard {
	display: inline-block;
	width: 10vw;
	height: 100vh;
	float: left;
	position: relative;
	/*overflow: hidden*/
}

.score1, .score2, .scorewrapper, .scorewrapper2 {
	position: absolute;

}	

.score1 {
	top: 0;
	left: 25px;
}

.score2 {
	top: 175px;
	left: 25px;
}

.scorewrapper {
	top: 85px;
	left: 35px;
	width: 100px;
	height: 60px;
	border: 1px solid black;
	background-color: black;
	color: white;
}

.scorewrapper2 {
	top: 260px;
	left: 35px;
	width: 100px;
	height: 60px;
	border: 1px solid black;
	background-color: black;
	color: white;
}

#box1 {
	margin-top: 17px;
}

#box2 {
	margin-top: 17px;
}

h3 {
	width: 150px;
	height: 40px;
	border: 1px solid black;
	font-size: 30px;
	margin-top: 20px;
}


.cards {
	width: 95px;
	height: 95px;
	border: 3px solid black;
	float: left;
	margin: 3px;
	background: url(pictures/GA.png) center center no-repeat;
	background-size: cover;
	border-radius: 15px;
}

.cards img {
	width: 97px;	
	height: 97px;
	margin: 3px;
	margin: 0 5px 5px 0;
	border-radius: 15px;
}

.hidden{
	opacity:0;
}




